   <div class="container">
    <h2 class="heading">{{heading}}</h2>
     {{> alertMessage}}
      <form action="/user/view/{{_id}}/update" method="post" id="login" enctype="multipart/form-data">
  <input type="hidden" name="_method" value="put" />
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" value="{{title}}" required />
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <textarea class="form-control" id="content" name="content" rows="5" required>{{content}}</textarea>
  </div>
  <div class="form-group mt-3">
    <label for="avatar">Image</label>
    <input type="file" class="form-control-file" id="avatar" name="avatar" />
  </div>
  <button type="submit" class="btn btn-primary mt-3 btnlogin">Update</button>
</form>
</div>