<!DOCTYPE html>
<html>
  <head>
    <title>Pen and Paper</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
    <nav class="navbar navbar-expand-lg border-bottom border-body" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Pen and Paper</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/user" hidden>Home</a>
            </li>

          </ul>
          <form action="/user/search" method="get" class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="background: transparent;" name="search">
            <button class="btn btn-outline-success me-4 " type="submit">Search</button>
          </form>
          <form action="/user" method="get">
          <input type="submit" value="Home" class="btn text-light me-2">
          </form>
           <form action="/user/myblog" method="get">
          <input type="submit" value="My Blog" class="btn text-light me-2">
          </form>
           <form action="/user/addblog" method="get">
          <input type="submit" value="Add Blog" class="btn text-light me-2">
          </form>
          <div class="dropdown-center me-4">
  <button class="btn text-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
   {{name}}
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/user/setting">Settings</a></li>
    <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
  </ul>
</div>
        </div>
      </div>
    </nav>
    <body style="background-color:  #FCF6F5;">
     {{{body}}}
   </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script>
    window.addEventListener("DOMContentLoaded", () => {
      const alertElement = document.querySelector(".alert");
      if (alertElement) {
        const timeout = 3000; // 3 seconds
        setTimeout(() => {
          new bootstrap.Alert(alertElement).close();
        }, timeout);
      }
    });
  </script>
</html>
